
body {
	font-family: sans-serif;
	font-size: 24pt;
	text-align: center;
	
	padding-left: 10%;
	padding-right: 10%;
	margin: 0px;
	
	display: flex;
	align-items: center;
	
	background-color: #a954b8;
}

/* title */
header {}
h1 {
	padding: 20px;
	margin-top: 0px;
	
	background-color: #c887d4;
}

/* words of the title */
#a {}
#fleeting {}
#positive {}
#thought {}

/* the thought itself */
#thought_box {
	padding: 20px;
	
	background-color: #c887d4;
}
#thought_text {}
