
body {
	font-family: sans-serif;
	font-size: 24pt;
	text-align: center;
	
	padding-left: 10%;
	padding-right: 10%;
	margin: 0px;
	
	display: flex;
	align-items: center;
	
	background-color: #c887d4;
	background-image: linear-gradient(
		to right,
		#b874d6,
		#c887d4,
		#ca90d6
	);
	
	color: #FFF;
}

/* debug :) */
/*
#global_container {
	border: 1px solid black;
}
*/

/* title */
header {}
h1 {
	padding: 30px;
	margin-top: 0px;
	
	background-color: #a954b8;
	
	border-radius: 30px;
	
	box-shadow: 0px 2px 0px 0px #637, 0px 2px 0px 0px #FFF inset;
}

/* words of the title */
#a {}
#fleeting {}
#positive {}
#thought {}

/* the thought itself */
#thought_box {
	padding: 30px;
	
	background-color: #a954b8;
	
	border-radius: 30px;
	
	box-shadow: 0px 2px 0px 0px #637, 0px 2px 0px 0px #FFF inset;
}
#thought_text {}

.deemphasize1 {
	color: #DCD;
	font-style: oblique;
}
